@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate;
}
@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  --color-accent: #ee6c4d;
  --color-primary: #3d5a80;
}

:root {
  --background: white;
  --foreground: #171717;
  --highlight: #edfeff;
  --accent: #ee6c4d;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

.hero-text {
  max-width: 500px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
  line-height: 1;
}

h2.text-left {
  text-align: left;
}
section {
  padding: 5rem 10rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  margin-top: 2rem;
}

.block {
  line-height: 2.5;
}

.highlight {
  background-color: var(--highlight);
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: #293241;
  color: white;
}

footer a:hover,
.menu a:hover {
  color: var(--accent);
  background: none;
}

@media only screen and (max-width: 767px) {
  section {
    padding: 3rem 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  .card.w-96.shadow-sm,
  .card.card-border.bg-base-100.w-96 {
    max-width: 100%;
  }
  footer .menu {
    display: none;
  }
  section .btn,
  section .btn.w-fit {
    display: block;
    line-height: 2.5;
    margin: 0;
    margin-top: 1rem;
    width: unset;
  }
}
